* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #f1f1f1;
	font-family: poppins;
}

.review-container {
	height: 400px;
	width: 600px;
	box-shadow: 2px 2px 15px gray;
	text-align: center;
	margin: 150px auto;
	position: relative;
	background-color: black;
}

.heading {
	padding: 30px;
	color: white;
}

/* emoji */

.emoji {
	height: 80px;
	width: 80px;
	position: absolute;
	top: 130px;
	left: 50%;
	transform: translateX(-50%);
}

.angry-emoji, .sad-emoji, .happy-emoji, .veryhappy-emoji {
	display: none;
}

.star-container {
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
}

.star {
	height: 50px;
	width: 50px;
	cursor: pointer;
}